<div class="row">
    <section class="conteudo-principal">
        <div class="side side-left">
            <h1>A sua melhor experiência.</h1>
            <p>
                Usamos ingredientes frescos e totalmente harmonizados. Nossos Blends
                são moídos diariamente e nossos molhos produzidos na casa
                artesanalmente todos os dias!
            </p>

            <div class="group-btn">
                <a class="orange-btn" href="#">Order Now</a>
                <a class="outline-btn" asp-area="" asp-controller="Lanche" asp-action="Lanches">Menu</a>
            </div>

        </div>
        <div class="side side-right">
            <div>
                <img id="burger-img"
                     src="~/imagens/burger-home.png"
                     alt="Delicious Burger" />
            </div>
        </div>
    </section>
</div>







