@model Lanche

<div class="col-sm-3 col-md-12 col-lg-12">
    <div class="card mb-3">
        <div id="lanche-tipo" class="lanche">
            <div class="wrapper">
                <div class="info-wrapper">
                    <img src="~/imagens/lanches/tradicional/x-bacon.jpg" alt="imagem do lanche" />
                    <div class="info descricao-lanche">
                        <h1>@Model.Nome</h1>
                        <p>@Model.Preco.ToString("c") </p>  
                        <p class="descricao" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.DescricaoReduzida">
                            @Model.DescricaoReduzida
                        </p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>