@model SobremesaViewModel
<div class="container">

    <h2>@Model.CategoriaAtual</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a asp-controller="Lanche" asp-action="NossosLanches" class="nav-link">Lanches</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Bebida" asp-action="Bebidas" class="nav-link">Bebidas</a>
        </li>
        <li class="nav-item ativo">
            <a asp-controller="Sobremesa" asp-action="Sobremesas" class="nav-link">Sobremesas</a>
        </li>
    </ul>

    <div class="row mb-3" id="lista-lanche">
        @foreach (var sobremesa in Model.Sobremesas)
        {
            <partial name="_SobremesasResumo" for="@sobremesa" />
        }
    </div>

