@model HomeViewModel

<partial name="_HomeLanchonete" />


<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-container">
            @foreach (var lanche in Model.LanchesPreferidos)
            {
                <div class="col">
                    <partial name="_LanchesFavoritos" for="@lanche" />
                </div>
            }

        </div>
    </div>
</div>

