@model HomeViewModel

<partial name="_HomeLanchonete" />

<div class="mt-4" style="text-align:center; width: 100 vh; padding:5px;"><h2>Os Preferidos da Semana</h2></div>

<div class="container d-flex justify-content-center">
    <div class="row">
        @foreach (var lanche in Model.LanchesPreferidos)
        {
            <div class="col">
                <partial name="_LanchesResumo" for="@lanche" />
            </div>
           
        }        
        
    </div>
</div>