<div class="container">
    <span class="borda-laranja">
        <main class="background-app" id="mensagem">
            <section class="description">
                <h4>
                    Se você tiver alguma dúvida ou sugestão fale conosco
                    <div class="horizontal-line"></div>
                </h4>               
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-contato">
                                <a href="mailto:juliana.ddeus@gmail.com" target="_blank">
                                    <img src="https://img.icons8.com/material-outlined/48/000000/email--v1.png" alt="Email Icon">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-contato">
                                <a href="https://web.whatsapp.com/" target="_blank">
                                    <img src="https://img.icons8.com/material-outlined/48/000000/whatsapp--v1.png" alt="WhatsApp Icon">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-contato">
                                <a href="https://maps.app.goo.gl/FjYEhbrBYPAq4ARx8" target="_blank">
                                    <img src="https://img.icons8.com/material-outlined/48/000000/home--v1.png" alt="Home Icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contato-imagem--user">
                    <img src="~/imagens/contato_mobile_user.svg" alt="Alternate Text" />
                </div>


            </section>
        </main>
    </span>    
</div>
