@model NossosLanchesViewModel


<div class="container">

    <h2>@Model.CategoriaAtual</h2>
   
        
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Lanches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bebidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Sobremesas</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="row card mb-3" id="lista-lanche">
                @foreach (var lanche in Model.Lanches)
                {
                    <partial name="_LanchesResumo" for="@lanche" />
                }
            </div>
        </div>

</div>


